// Colors
$colors: (
  // Main Colors
        primary: (
                'blue': hsl(215, 51%, 70%),
                'cyan': hsl(178, 100%, 50%),
        ),
        neutral: (
                '900': hsl(217, 54%, 11%),
                '800': hsl(216, 50%, 16%),
                '300': hsl(215, 32%, 27%),
        ),
  // Other
        'background': hsl(217, 54%, 11%),
        'white': hsl(0, 0%, 100%),
        'shadow': hsl(0, 0%, 0%,0.3)
);